%%Panel.HTMLHead%%
	<body>
		<script type="text/javascript" src="%%GLOBAL_ShopPath%%/templates/Blueprint/js/cart.js?%%GLOBAL_JSCacheToken%%"></script>
		<div class="page">
			%%Panel.Header%%
			<div class="main">
				<div class="inner">
					<div class="Content Widest" id="LayoutColumn1">
						%%Panel.CartBreadcrumb%%
						%%Panel.CartHeader%%
						<div class="fullwidth">
							%%Panel.CartStatusMessage%%
							%%Panel.CartContent%%
							<div class="CartCode Block">
								<div class="grid">
									<div class="grid__item one-half">
										%%Panel.CartCouponCodeBox%%
									</div>
									<div class="grid__item one-half">
										%%Panel.CartGiftCertificateCodeBox%%
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			%%Panel.Footer%%
		</div>
	</body>
</html>