%%Panel.HTMLHead%%
    <body>
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    %%Panel.CategoryBreadcrumb%%
                    <div class="productlist-page">
                        <div class="Left fleft">
                            %%Panel.SideCategoryList%%
                            %%Panel.SideShopByBrand%%
                            %%Panel.SideCategoryShopByPrice%%
                        </div>
                        <div class="Content Wide %%GLOBAL_ExtraCategoryClass%%" id="LayoutColumn1">
                            %%Banner.TopBanner%%
                            <div class="clearfix">
                                %%SNIPPET_CategorySortBox%%
                                %%Panel.CategoryHeading%%
                            </div>
                            %%Panel.CategoryContent%%
                        </div>
                        <div class="clear"></div>
                    </div>
                    %%Banner.BottomBanner%%
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>