%%Panel.HTMLHead%%
    <body id="home">
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                    %%Panel.WrapperBanner%%
                    %%Panel.HomeSlideShow%%
          <div class="inner">
            <div class="Content Widest" id="LayoutColumn1">
              %%Banner.TopBanner%%
              %%Discount.FreeShippingEligibility%%
              %%Panel.HomeFeaturedProducts%%
              %%Panel.SideTopSellers%%
              %%Panel.HomeNewProducts%%
              %%Banner.BottomBanner%%
            </div>
          </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>