<div class="footer">
    <div class="inner">

        <div class="footer-main">
            <div class="inner">
                <div class="footer-columns grid">
                    <div class="grid__item f-pages">%%Panel.PagesMenu%%</div>
                    <div class="grid__item f-cat">%%Panel.FooterCategoryList%%</div>
                    <div class="grid__item socialize">%%Panel.SocialLinks%%</div>
                    <div class="grid__item f-newsletter">
                        <div class="clearfix">
                        %%Panel.SideNewsletterBox%%
                        </div>
                        
                        <div class="help">
                            <h4>Need Help?</h4>
                            <p>%%GLOBAL_StorePhoneNumber%% <a href="mailto:info@bigcommerce.com" class="contact-email">info@bigcommerce.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-links">
            <div class="inner">
                <p id="payment"><img src="/templates/__custom/images/payments.png" /></p>
                <p><span id="currencyPrices">%%GLOBAL_AllPricesAreInCurrency%%</span>Copyright &copy; %%GLOBAL_Year%% %%GLOBAL_StoreName%%. All Right Reserved. <a href="http://coalitiontechnologies.com" target="_blank">Coalition Technologies</a></p>
                %%GLOBAL_DebugDetails%%
            </div>
        </div>

    </div>
</div>

%%GLOBAL_DesignModeHTML%%
%%GLOBAL_QueryList%%
%%GLOBAL_DesignModeScriptTag%%
%%GLOBAL_LiveChatFooterCode%%
%%GLOBAL_OptimizerTrackingScript%%
%%GLOBAL_OptimizerConversionScript%%
%%GLOBAL_OptimizerSetCookieScript%%
%%GLOBAL_FooterScripts%%
%%SNIPPET_FastCartThickBoxJs%%
