%%Panel.HTMLHead%%
    <body>
        <script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/jquery/plugins/validate/jquery.validate.js?%%GLOBAL_JSCacheToken%%"></script>
<!--    <script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.functions.js?%%GLOBAL_JSCacheToken%%"></script> -->
        <script type="text/javascript" src="/templates/__custom/js/product.functions.js"></script>        
        <script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.js?%%GLOBAL_JSCacheToken%%"></script>
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    %%Panel.ProductBreadcrumb%%
                    %%Panel.ProductDetails%%
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>