    %%GLOBAL_OptimizerLinkScript%%    
<div class="TopMenu clearfix">
        <ul class="accessible-links clearfix" style="display:%%GLOBAL_HidePurchasingOptions%%">
            <li %%GLOBAL_ShowStorePhoneNumber%%>
                <div class="phoneIcon">Call us on: %%GLOBAL_StorePhoneNumber%%</div>
            </li>
            <li style="%%GLOBAL_LiveChatCodeEnabled%%" class="HeaderLiveChat">
                %%GLOBAL_LiveChatCode%%
            </li>
            <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                <a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a>
            </li>
            %%SNIPPET_TopMenuGiftCertificates%%
            <li style="display:%%GLOBAL_HideAccountOptions%%">
                <div>%%GLOBAL_LoginOrLogoutText%%</div>
            </li>
            <li class="last CartLink" style="display:%%GLOBAL_HideCartOptions%%">
                <i class="icon" title="View Cart">&nbsp;</i><a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%"><span>%%GLOBAL_CartItems%%</span></a>
            </li>
        </ul>
       %%Panel.SocialLinks%%
</div>